
@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
</head>
<body>

    <center>
        <h2>Blog & Diary</h2>

    </center>

</body>
</html>

