@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <style>
        .basic {
            border-width: 1px;
            border-style: solid;
            border-top-color: #dfdfdf;
            border-bottom-color: #dfdfdf;
            border-right-color: #dfdfdf;
            border-left-color: #dfdfdf;
        }

        input.b_style {
            background-color: black;
            width: 70px;
            height: 30px;
            color: white;
            border: none;
            text-align: center;
            display: inline-block;
            font-size: 17px;
        }

        input.t_style {
            border: none;
            text-decoration: none;
            color: #919191;
            font-family: 'Noto Sans CJK KR';
            font-size: 15pt;
        }

            input.t_style:focus {
                border: none;
                text-decoration: none;
                color: #919191;
                font-family: 'Noto Sans CJK KR';
                font-size: 15pt;
            }

        table {
            text-decoration: none;
            color: #919191;
            font-family: 'Noto Sans CJK KR';
            font-size: 15pt;
        }

        .n_border {
            border-color: white;
            text-decoration: none;
        }
        /*
        a:link {
            text-decoration: none;
            color: #919191;
            font-family: 'Noto Sans CJK KR';
            font-size: 9pt;
        }

        a:visited {
            text-decoration: none;
            color: #919191;
            font-family: 'Noto Sans CJK KR';
            font-size: 9pt;
        }

        a:hover {
            text-decoration: underline;
            color: #919191;
            font-family: 'Noto Sans CJK KR';
            font-size: 9pt;
        }

        a:active {
            text-decoration: underline;
            color: #919191;
            font-family: 'Noto Sans CJK KR';
            font-size: 9pt;
        }*/

    </style>
</head>
<body>
    @using (Html.BeginForm("Login", "Home"))
    {
        <center>
            <h2>Login</h2>
            <hr>
            <table border="1" width="300" height="100" align="center" class="basic" style="margin-bottom:10px;">
                <tr>
                    <td>
                        &nbsp;ID&nbsp;
                    </td>
                    <td class="basic">
                        <input type="text" name="id" class="t_style" size="20">
                    </td>
                </tr>
                <tr>
                    <td class="basic">
                        &nbsp;PW&nbsp;
                    </td>
                    <td>
                        <input type="password" name="pw" class="t_style" size="20">
                    </td>
                </tr>
            </table>
            <input type="submit" id="login" class="b_style" value="로그인">
            <input type="reset" id="cancel" class="b_style" value="취소">
        </center>

    }

    <br />

</body>
</html>